NET "sck" CLOCK_DEDICATED_ROUTE = FALSE;

NET "a" LOC = "L14";
NET "b" LOC = "H12";
NET "c" LOC = "N14";
NET "d" LOC = "N11";
NET "e" LOC = "P12";
NET "f" LOC = "L13";
NET "g" LOC = "M12";

NET "sck" LOC = "B2";
NET "ss" LOC = "A3";
NET "mosi" LOC = "J3";
NET "miso" LOC = "B5";